Repository hazelcast/hazelcast-python-client, pull requests merged in 2022-09, with the labels that each got.

#572 Jupyter Notebok for Hazelcast Python Client SQL support [API-1508]
  examples/jupyter-notebooks/Hazelcast Python Client SQL Support with Hazelcast Viridian Notebook.ipynb
  examples/jupyter-notebooks/README.md
Labels: Type: Documentation, Priority: Low, Estimation: M, Source: Internal

#577 Simple sample for Compact Serialization. [API-1333]
  examples/serialization/simple_compact_serialization_example.py
Labels: Type: Documentation, Priority: Low, Estimation: S, Source: Internal

#585 Use LFU eviction policy in NearCacheTestCase#test_put_get
  tests/unit/near_cache_test.py
Labels: Type: Test-Failure, Source: Internal

#587 Use truly unreachable address in ConnectionManagerTranslateTest
  tests/integration/connection_manager_test.py
Labels: Type: Test-Failure, Source: Internal
